# 1. NUMPY BASICS

In [1]:
# NumPy is a Linear Algebra Library used for multidimensional arrays
# NumPy brings the best of two worlds: (1) C/Fortran computational efficiency, (2) Python language easy syntax 

# Let's define a one-dimensional array 
import numpy as np
my_list = [1 , 2 , 3 , 4 , 5 , 6]
my_list

[1, 2, 3, 4, 5, 6]

In [3]:
# Let's create a numpy array from the list "my_list"
x = np.array(my_list)
x

array([1, 2, 3, 4, 5, 6])

In [4]:
type(x)

numpy.ndarray

In [5]:
# Multi-dimensional (Matrix definition) 
matrix = np.array([[5 , 8] , [9  ,13]])
matrix

array([[ 5,  8],
       [ 9, 13]])

**MINI CHALLENGE #1:** 
- **Write a code that creates the following 2x4 numpy array**

```
[[4 6 8 7] 
[20 5 6 9]]
```

In [10]:
matrix1 = np.array([[4 , 6 , 8  ,7] , [20 , 5 , 6 , 13]])
matrix1

array([[ 4,  6,  8,  7],
       [20,  5,  6, 13]])

In [11]:
type(matrix1)

numpy.ndarray

# 2. BUILT-IN METHODS AND FUNCTIONS

In [13]:
# "rand()" uniform distribution between 0 and 1
x = np.random.rand(15)
x

array([0.47049716, 0.21107291, 0.36953324, 0.82648734, 0.17745669,
       0.81697917, 0.01400713, 0.63795241, 0.62662951, 0.63340303,
       0.90767462, 0.86253533, 0.38583855, 0.50342374, 0.80254122])

In [14]:
# you can create a matrix of random number as well
x = np.random.rand(5 , 5)
x

array([[0.7036112 , 0.04879848, 0.46077526, 0.77589746, 0.86594229],
       [0.32103283, 0.08473206, 0.94362542, 0.48705344, 0.20587611],
       [0.3931784 , 0.10781771, 0.14646345, 0.361908  , 0.30702502],
       [0.43600898, 0.3578593 , 0.29665223, 0.36418968, 0.50669768],
       [0.72643822, 0.81340683, 0.19826632, 0.58285419, 0.85643214]])

In [15]:
# "randn()" normal distribution between 0 and 1
x = np.random.randn(10)
x

array([ 0.94578668, -0.08911757, -1.20729679, -2.02016041,  1.09270147,
       -1.20545243,  0.81897132,  1.32532845, -0.73840457,  0.15011679])

In [19]:
# "randint" is used to generate random integers between upper and lower bounds
x = np.random.randint(1 , 10)
x

7

In [20]:
# "randint" can be used to generate a certain number of random itegers as follows
x = np.random.randint(1 , 100 , 15)
x

array([43, 35, 17, 39, 68, 96, 36, 33,  6, 46, 29, 18, 16, 71, 19])

In [21]:
# np.arange creates an evenly spaced values within a given interval
x = np.arange(1 , 50)
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [22]:
# Create an evenly spaced values with a step of 5
x = np.arange(1 , 50 , 5)
x

array([ 1,  6, 11, 16, 21, 26, 31, 36, 41, 46])

In [23]:
# create a diagonal of ones and zeros everywhere else
x = np.eye(15)
x

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [24]:
# Array of ones
x = np.ones(10)
x

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [26]:
# Matrices of ones
x = np.ones((15 , 15))
x

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [27]:
# Array of zeros
x = np.zeros(10)
x

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

**MINI CHALLENGE #2:**
- **Write a code that takes in a number x from the user and creates a 1x20 array with random numbers ranging from 0 to x**

In [29]:
x = int(input("Please enter a positive integer value :"))
y = np.random.randint(0 , x ,20)
y

Please enter a positive integer value :100

array([30, 18, 63, 52, 40, 78, 32, 46,  3, 49, 27, 78, 77, 41, 55,  4, 59,
       30, 89, 45])

# 3. SHAPE, LENGTH, TYPE, RESHAPE, AND MAX/MIN VALUES

In [5]:
# Let's define a one-dimensional array 
import numpy as np
my_list = [-30 , 40 , 34 , 65 , -54 , 32 , 76 , 90]
my_list
x = np.array(my_list)
x

array([-30,  40,  34,  65, -54,  32,  76,  90])

In [7]:
# Get Length of a numpy array
len(x)

8

In [8]:
# Get shape
x.shape

(8,)

In [9]:
# Obtain the datatype
x.dtype

dtype('int32')

In [10]:
# Reshape 1D array into a matrix
z = x.reshape(2 , 4)
z

array([[-30,  40,  34,  65],
       [-54,  32,  76,  90]])

In [11]:
# Obtain the maximum element (value)
x.max()

90

In [12]:
# Obtain the minimum element (value)
x.min()

-54

In [14]:
# Obtain the location of the max element
x.argmax()

7

In [15]:
# Obtain the location of the min element
x.argmin()

4

**MINI CHALLENGE #3:**
- **Write a code that creates a 4x5 array inwhich numbers range between 300 and 500 such that the difference between elements is 10**

In [33]:
x = np.arange(300 , 500 , 10)
x

array([300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420,
       430, 440, 450, 460, 470, 480, 490])

In [36]:
x.shape

(20,)

In [34]:
z = x.reshape(4 , 5)
z

array([[300, 310, 320, 330, 340],
       [350, 360, 370, 380, 390],
       [400, 410, 420, 430, 440],
       [450, 460, 470, 480, 490]])

**MINI CHALLENGE #4:**
- **Write a code that creates a 20x20 numpy array of random values that ranges from -1000 to 1000 and obtain the maximum, minimum, and mean values**

In [39]:
x = np.random.randint(-1000 , 1000 , (20 , 20))
x
z = x.reshape(20 , 20)
z

array([[-287,  742, -240,  441, -621, -501,  538, -918, -344,  910, -358,
        -771,  379,  181, -958,  935, -615,  764,  387, -125],
       [ 823,  685,  755, -184,  670,  210,  486,  261,  831, -820, -129,
         764, -315, -918, -766, -717,   63, -406, -366, -474],
       [ 803,  800, -978, -719,  -34, -219,  346, -821,  573, -542, -110,
         724,  235, -939, -880,   38, -678, -926, -133, -603],
       [-530, -301, -884,  157,  709, -519, -338,  720,  797,  339,   -4,
         844,  298, -714, -415,  517, -275, -339,  288,  654],
       [ 560, -300, -725, -243, -754,  788,  107, -991,  359,  207,  874,
         165, -985,  583,  553,  150,  322, -513,  966, -915],
       [ -73,  421,  520,  672, -614,  839,  996, -916, -411,  935, -504,
        -568,  866, -387,  977,  517,  672, -494, -345,   85],
       [-857, -604,  117,  564, -392,  992, -748,  -34, -583, -657,  301,
        -977, -173,  602, -767, -152, -544,  467, -155, -995],
       [ 698, -681, -816,  735,   39, -925,  178,  967, -361,  740, -562,
         780, -393,  338,  184,  603,  762,  297, -131, -347],
       [-402,  634, -665, -510, -575,  816,  976, -804,  853,  196,  197,
         764, -933,  275,  713,  276, -966,  529, -577, -204],
       [-944, -354, -587, -123,   17,  893,  877, -707, -870,  678,  495,
         576,  221, -121, -238, -887, -864, -897,  540,  -94],
       [-134, -904, -720, -519, -860,  169,  335, -268,  952,  225,  866,
         741, -414,  -62, -261,  143,  505,  790, -553,   72],
       [ 156, -108,  943, -981, -767,  478, -746,  -47,  220,   28,  215,
        -904,  212, -694,  422,   29,  307,  837, -717, -846],
       [ 757,  103,  469,  274,  461, -620, -905, -100,  388, -602, -816,
        -531, -470,  -54,  573,  -23,  780, -820,   95, -753],
       [-250,  642, -292,  567,  566,  583,  578, -397, -541,   50,   29,
          97,  -98,  254,  739, -931,  213,  975,  439, -757],
       [ 208,  783, -414, -175, -750,  612, -159,  945,  552,  816,  781,
        -631,  235,  768, -787,   80,  642,  906,  872, -611],
       [-848,   21,  299,  599, -145, -715,  649, -977,  221,   91, -911,
         737,  835,   51, -519,  278,   -1,  914,  232,  551],
       [ -94, -926,  444,  -80, -204, -564,  305,  479,  367, -878, -719,
        -385,  830,  166,  932, -171, -600, -727, -476,  898],
       [-224, -762,  398, -500, -692,  632,  -27,  986, -672,  224,  349,
         843,  -17, -728,  489,   19,   -5,  928, -251, -768],
       [ 808, -313,  624, -790,  526, -798, -484,  -83,  576,  864,    7,
         215,  360,  306,   77,  244,  276,  107, -406, -699],
       [-336, -476,  912,  -87,  308, -254, -321, -792,  823, -513, -793,
        -772, -961, -551, -725,  984,  243, -570, -940, -518]])

In [38]:
z.shape

(20, 20)

In [40]:
x.max()

996

In [41]:
x.min()

-995

In [42]:
x.mean()

-10.5325

In [44]:
print('The maximum value is {} and minimum value is {} '.format(x.max() , x.min()))

The maximum value is 996 and minimum value is -995

# 4. MATHEMATICAL OPERATIONS

In [45]:
# np.arange() returns an evenly spaced values within a given interval
x = np.arange(1 , 10)
x

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [46]:
y = np.arange(1 , 10)
y

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [48]:
# Add 2 numpy arrays together
z = x+y
z

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18])

In [49]:
squared = x**2

In [50]:
squared

array([ 1,  4,  9, 16, 25, 36, 49, 64, 81], dtype=int32)

In [51]:
sqrt = np.sqrt(squared)
sqrt

array([1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [52]:
z = np.exp(y)
z

array([2.71828183e+00, 7.38905610e+00, 2.00855369e+01, 5.45981500e+01,
       1.48413159e+02, 4.03428793e+02, 1.09663316e+03, 2.98095799e+03,
       8.10308393e+03])

**MINI CHALLENGE #5:**
- **Given the X and Y values below, obtain the distance between them**


```
X = [3, 20, 30]
Y = [4, 6, 7]
```

In [53]:
X = np.array([3, 20, 30])
Y = np.array([4, 6, 7])
Z = np.sqrt(X**2 + Y**2)
Z

array([ 5.        , 20.88061302, 30.8058436 ])

# 5. SLICING AND INDEXING

In [54]:
x = np.array([20 , 40 , 50 , 21 , 15])
x

array([20, 40, 50, 21, 15])

In [56]:
# Access specific index from the numpy array
x[3]

21

In [57]:
# Starting from the first index 0 up until and NOT inlcluding the last element
x[0:3]

array([20, 40, 50])

In [60]:
# Broadcasting, altering several values in a numpy array at once
x[0:2] = 10
x

array([10, 10, 50, 21, 15])

In [61]:
# Let's define a two dimensional numpy array
matrix = np.random.randint(1 , 10 , (5 , 5))
matrix

array([[9, 5, 9, 1, 2],
       [9, 4, 2, 9, 6],
       [8, 7, 1, 7, 7],
       [6, 6, 3, 3, 7],
       [4, 1, 7, 2, 1]])

In [62]:
# Get a row from a mtrix
matrix[2]

array([8, 7, 1, 7, 7])

In [65]:
# Get one element
matrix[2][3]

7

In [69]:
mini_matrix = matrix[:4]
mini_matrix

array([[9, 5, 9, 1, 2],
       [9, 4, 2, 9, 6],
       [8, 7, 1, 7, 7],
       [6, 6, 3, 3, 7]])

In [70]:
mini_matrix = matrix[: , 2:]
mini_matrix

array([[9, 1, 2],
       [2, 9, 6],
       [1, 7, 7],
       [3, 3, 7],
       [7, 2, 1]])

In [72]:
mini_matrix = matrix[: , :2]
mini_matrix

array([[9, 5],
       [9, 4],
       [8, 7],
       [6, 6],
       [4, 1]])

**MINI CHALLENGE #6:**
- **In the following matrix, replace the last row with -1**
- **Multiply the 2x2 matrix in the upper right corner by 2**



```
X = [2 30 20 -2 -4]
    [3 4  40 -3 -2]
    [-3 4 -6 90 10]
    [25 45 34 22 12]
    [13 24 22 32 37]
```

In [98]:
x =np.array([[2 , 30 , 20 , -2 , -4],
             [3 , 4 , 40 , -3 , -2],
             [-3 , 4 , -6 , 90 , 10],
             [25 , 45 , 34 , 22 , 12],
             [13 , 24 , 22 , 32 , 37]])
x

array([[ 2, 30, 20, -2, -4],
       [ 3,  4, 40, -3, -2],
       [-3,  4, -6, 90, 10],
       [25, 45, 34, 22, 12],
       [13, 24, 22, 32, 37]])

In [85]:
x[4] = -1

In [94]:
x

array([[  2,  30,  20, -32, -64],
       [  3,   4,  40, -48, -32],
       [ -3,   4,  -6,  90,  10],
       [ 25,  45,  34,  22,  12],
       [ -1,  -1,  -1,  -1,  -1]])

In [95]:
mini_matrix = x[:2 , 3:]*2
mini_matrix

array([[ -64, -128],
       [ -96,  -64]])

In [99]:
x[:2 , 3:] = x[:2 , 3:]*2
x

array([[ 2, 30, 20, -4, -8],
       [ 3,  4, 40, -6, -4],
       [-3,  4, -6, 90, 10],
       [25, 45, 34, 22, 12],
       [13, 24, 22, 32, 37]])

# 6. ELEMENTS SELECTION (CONDITIONAL)

In [103]:
matrix = np.random.randint(1 , 10 , (5 , 5))
matrix

array([[7, 3, 3, 1, 8],
       [3, 9, 5, 5, 9],
       [3, 5, 4, 5, 7],
       [8, 3, 4, 4, 7],
       [3, 1, 6, 2, 8]])

In [104]:
new_matrix = matrix[matrix > 3]
new_matrix

array([7, 8, 9, 5, 5, 9, 5, 4, 5, 7, 8, 4, 4, 7, 6, 8])

In [113]:
new_matrix = matrix[matrix%2==1]
new_matrix

array([7, 3, 3, 1, 3, 9, 5, 5, 9, 3, 5, 5, 7, 3, 7, 3, 1])

**MINI CHALLENGE #7:**
- **In the following matrix, replace negative elements by 0 and replace odd elements with 25**


```
X = [2 30 20 -2 -4]
    [3 4  40 -3 -2]
    [-3 4 -6 90 10]
    [25 45 34 22 12]
    [13 24 22 32 37]
```

In [110]:
x = np.array([[2 , 30 , 20 , -2 , -4],
              [3 , 4 , 40 , -3 , -2],
              [-3 , 4 , -6 , 90 , 10],
              [25 , 45 , 34 , 22 , 12],
              [13 , 24 , 22 , 32 , 37]])
x

array([[ 2, 30, 20, -2, -4],
       [ 3,  4, 40, -3, -2],
       [-3,  4, -6, 90, 10],
       [25, 45, 34, 22, 12],
       [13, 24, 22, 32, 37]])

In [112]:
x[x%2==1]=25
x

array([[ 2, 30, 20, -2, -4],
       [25,  4, 40, 25, -2],
       [25,  4, -6, 90, 10],
       [25, 25, 34, 22, 12],
       [25, 24, 22, 32, 25]])

In [116]:
x[x<0]=0
x

array([[ 2, 30, 20,  0,  0],
       [25,  4, 40, 25,  0],
       [25,  4,  0, 90, 10],
       [25, 25, 34, 22, 12],
       [25, 24, 22, 32, 25]])

# EXCELLENT JOB!

# MINI CHALLENGES SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **Write a code that creates the following 2x4 numpy array**

```
[[4 6 8 7] 
[20 5 6 9]]
```

In [ ]:
x = np.array([[[4, 6, 8, 7] , [20, 5, 6, 9]]])
x

**MINI CHALLENGE #2 SOLUTION:**
- **Write a code that takes in a number x from the user and creates a 1x20 array with random numbers ranging from 0 to x**

In [ ]:
x = int(input("Please enter a positive integer value: "))
x = np.random.randint(1, x, 20)
x

**MINI CHALLENGE #3 SOLUTION:**
- **Write a code that creates a 4x5 array inwhich numbers ranging between 300 and 500 such that the difference between elements is 10**

In [ ]:
x = np.arange(300, 500, 10)
x.shape

In [ ]:
x = x.reshape(4, 5)
print(x)

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that creates a 20x20 numpy array of random values that ranges from -1000 to 1000 and obtain the maximum, minimum, and mean values**

In [ ]:
x = np.random.randint(-1000, 1000, (20, 20))
print(x)
print('The maximum value is: {} and the minimum value is:{}'.format(x.min(), x.max()))

**MINI CHALLENGE #5 SOLUTION:**
- **Given the X and Y values below, obtain the distance between them**


```
X = [3, 20, 30]
Y = [4, 6, 7]
```

In [ ]:
X = np.array([3, 20, 30])
Y = np.array([4, 6, 7])
Z = np.sqrt(X**2 + Y**2)
Z

**MINI CHALLENGE #6 SOLUTION:**
- **In the following matrix, replace the last row with -1**
- **Multiply the 2x2 matrix in the upper right corner by 2**



```
X = [2 30 20 -2 -4]
    [3 4  40 -3 -2]
    [-3 4 -6 90 10]
    [25 45 34 22 12]
    [13 24 22 32 37]
```

In [ ]:
X = np.array([[2, 30, 20, -2, -4],
    [3, 4,  40, -3, -2],
    [-3, 4, -6, 90, 10],
    [25, 45, 34, 22, 12],
    [13, 24, 22, 32, 37]])

In [ ]:
X[4] = 0
X

In [ ]:
X[:2, 3:]  = X[:2, 3:] * 2

In [ ]:
X

**MINI CHALLENGE #7 SOLUTION:**
- **In the following matrix, replace negative elements by 0 and replace odd elements with 25**


```
X = [2 30 20 -2 -4]
    [3 4  40 -3 -2]
    [-3 4 -6 90 10]
    [25 45 34 22 12]
    [13 24 22 32 37]
```

In [ ]:
X = np.array([[2, 30, 20, -2, -4],
    [3, 4,  40, -3, -2],
    [-3, 4, -6, 90, 10],
    [25, 45, 34, 22, 12],
    [13, 24, 22, 32, 37]])

X[X%2==1] = 25
X[X<0] = 0
X